@model List<ResultAllBlogsWithAuthorDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Blog Listesi</h4>
                        <p class="card-subtitle mb-4">
                            Blogları buradan silebilirsiniz.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Başlık</th>
                                        <th>Yazar</th>
                                        <th>Kategori</th>
                                        <th>Tarih</th>
                                        <th>Kaldır</th>
                                        <th>Blog'u Aç</th>
                                        <th>Yorumlar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.Title</td>
                                            <td>@item.AuthorName</td>
                                            <td>@item.CategoryName</td>
                                            <td>@item.CreatedDate</td>
                                            <td>
                                                <a href="/Admin/AdminBlog/RemoveBlog/@item.ID"
                                                   class="btn btn-outline-danger">Kaldır</a>
                                            </td>
                                            <td>
                                                <a target="_blank" href="/Blog/BlogDetail/@item.ID"
                                                   class="btn btn-outline-dark">Blog'u Aç</a>
                                            </td>
                                            <td>
                                                <a href="/Admin/AdminComment/Index/@item.ID"
                                                   class="btn btn-outline-secondary">Yorumlar</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





